
// --------modal--------

.modal-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  color: #000;

  li {
    list-style-type: none; 
   }

  .modal-container {
    display: inline-block;
    background-color: #f3f3f3;
    display: flex;
    padding: 32px;
    box-shadow: 16px 16px 30px rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    transition: 7s;

    .modal-container__main-info {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    .episode {
      font-weight: 600;
    }

    .episodes-container {
      max-height: 40em;
      min-width: 20em;
      overflow-y: scroll;
      margin-left: 32px;
      border: 1px solid #202020;
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 8px;

      &::-webkit-scrollbar {
        background-color: transparent;
        width: 16px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #202020;
      }
    }

    .entity, .entity-info {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .entity-name {
      max-width: 20em;
      line-height: 36px;
    }

    img {
      width: 20em;
      height: 20em;
    }
  }

  .modal-btn {
    border-radius: 2px;
  }

  .modal-text__bold {
    font-weight: 500;
  }

  .info-block {
    display: flex;
    gap: 12px;
  }
}

.overlay {
  cursor: pointer;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  overflow-y: hidden;
}

// --------404-page--------

h1 {
  font-size: 200px;
}

h2 {
  font-size: 3.5em;
  font-weight: lighter;
  opacity: 1;
}

.unknown-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.unknown-page__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  color: #fff;
  cursor: pointer;
  border-radius: 50px;
  background-color: #f87c44;
  border: none;
  padding: 10px 20px;
  transition: 0.3s;

  &:hover {
    background-color: #6141DA;
  }
}

h2 {
  font-size: 3.5em;
  font-weight: lighter;
  opacity: 0.2;
}

// --------home-page--------

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 30px;
  position: static;


  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    background-color: #f3f3f3;
    position: static;

    .card-wrapper {
      transition: 0.3s;
      padding: 2em;
      background-color: #f3f3f3;
      display: flex;
      flex-direction: column;
      gap: 12px;

      &:hover {
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.15));
      }
    }

    h5 {
      font-size: 24px;
    }

    .card-text__wrapper {
      display: flex;
      flex-direction: column;
      gap: 6px;
      align-self: center;
    }

    .card-img__wrapper {
      display: inline;

      img {
        width: 100%;
        cursor: pointer;
        object-fit: cover;
      }
    }
  }
}

.search-bar__container {
  display: flex;
}

.search-bar__wrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.search-bar {
  height: 32px;
  border: none;
  background-color: #6141DA;
  border-radius: 50px 0 0 50px;
  padding-left: 12px;
  color: #fff;
  transition: 0.3s;
}

@keyframes invalidPulse {
  0% {
    border: 1px solid rgba(42, 26, 194, 0.9);
  }
  50% {
    border: 1px solid rgba(42, 26, 194, 0.4);
  }
  100% {
    border: 1px solid rgba(42, 26, 194, 0);
  }
}

.error {
  background-color: #f87c44;
}

.error +.search-icon {
  background-color: #f87c44;
}

.search-bar:focus {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.20));
  outline: none;
}

.search-bar:focus+.search-icon {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.20));
  outline: none;
}

.search-icon {
  height: 32px;
  width: 32px;
  border: none;
  background-color: #6141DA;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 50px 50px 0;
  transition: 0.3s;
}

// --------form--------

.form-page {
  display: flex;
  gap: 42px;
  align-items: flex-start;
  justify-content: start;
  margin: 0 auto;
}

.form {
  width: 425px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  background-color: #fff;
  padding: 42px 24px;
  border-radius: 2px;

  input[type='radio']{
 display: none;
}


.radio-label {
  cursor: pointer;
}

input[type='radio'] + .radio-label::before {
  content: '';
  top: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #000;
}

input[type='radio']:checked + .radio-label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 9px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  border: 1px solid #000;
}

  .radio {
    position: relative;

    label {
      gap: 4px;
    }
  }
  
  .form-bottom {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .form-content, .form-submit {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .form-submit {
    gap: 32px;
  }

  .sex {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h5 {
      font-size: 12px;
      color: #a7a7a7 ;
      font-weight: 500;
    }

    .radio {
      display: flex;
      width: 200px;
      justify-content: space-between;
    }

    .form_radio {
      display: flex;
      gap: 8px;

      label {
        display: flex;
        flex-direction: row;
        color: #000;
        align-items: center;
        position: relative;
      }

      input {
        cursor: pointer;
        width: 16px;
        height: 16px;
      }
    }
  }

  button {
    width: 100%;
    align-self: center;
    background-color: #6141DA;

    &:hover {
      color: #000;
      background-color: #9280d3;
    }
  }

  .form-top {
    display: flex;
    justify-content: space-between;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }


  input,
  select {
    background-color: transparent;
    border: none;
    border-bottom: 1px #a7a7a7 solid;
    width: 200px;
    height: 22px;
  }

  .invalid {
    border: none;
    border-bottom: 1px #f87c44 solid;
  }

  input:focus,
  select:focus {
    outline: none;
    border: none;
    border-bottom: 1px #000 solid;
    color: #000;
  }

  label {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
    font-size: 12px;
    color: #a7a7a7;
  }

  select {
    cursor: pointer;
  }

  .select-placeholder {
    color: #a7a7a7;
  }

  input {
    font-size: 16px;
  }

  .checkbox-container {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    align-items: center;
    color: #000;

    input {
      width: 16px;
      height: 16px;
    }
    
  } 


  input[type="file"] {
    width: 425px;
  }
}

.input-file {
	position: relative;
	display: inline-block;
  width: 200px;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 2px;
	background-color: #000;
	line-height: 22px;
	padding: 8px 16px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.3s;
  color: #fff;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.30);
}
 
/* Hover/active */
.input-file:hover span {
  color: #fff;
	background-color: #424242;
}
.input-file:active span {
  color: #fff;
	background-color: #424242;
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}

// --------form-card--------

.form-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-card-container {
  display: inline-flex;
  gap: 24px;
  align-items: center;
  border: 1px #000 solid;
  height: 200px;
  width: 600px;

  h6 {
    font-size: 32px;
    font-weight: 400;
  }

  h5 {
    opacity: 0.5;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  .info-container__bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .info-block {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .avatar-container {
    margin-top: 4px;
  }

  .avatar {
    width: 200px;
    height: 200px;
  }

  img {
    background-color: #000;
    outline: none;
  }

}

.validation-message {
  position: absolute;
  bottom: -16px;
  font-size: 10px;
  color: #f87c44;
}

.validation-message__container {
  position: relative;
}

.success-message {
  margin-top: 10px;
  align-self: center;
  font-size: 24px;
  font-weight: 500;
  color: #00ff37;
}

// --------spinner--------

.loading-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-dots div {
  width: 24px;
  height: 24px;
  margin: 0 16px;
  border-radius: 50%;
  background-color: #000;
  animation: pulse 1s ease-in-out infinite;
  opacity: 0.6;
}

.loading-dots div:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-dots div:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.7);
  }
}

// --------api--------

.prompt-container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 2em;
    font-weight: 400;
  }
}

.prompt-img {
  height: 10em;
  width: auto;
  margin-top: 32px;
}