@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500&family=Climate+Crisis&family=Russo+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-decoration: inherit;
  transition: 0.3s;
}
a:hover {
  color: #f87c44;
}


#root {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(14, 14, 14);
  background-color: #f3f3f3;
}

header {
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 10vw;
  background-color: #f3f3f3;
}

.active {
  text-decoration: underline;
}

.inactive {
  text-decoration: none;
}

main {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.pages {
  display: flex;
  gap: 24px;
}

h4 {
  font-family: 'Changa', sans-serif;
  font-size: 2em;
  font-weight: 500;
}

h3 {
  font-size: 2.5em;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: lighter;
}